.card {
  background-color: var(--bg-white);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 400px;
}

.header {
  background-color: var(--system-success);
  height: 4px;

  &.error {
    background-color: var(--system-error);
  }
}

.body {
  padding: 20px;
}
