.stepper-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.stepper {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0 0 20px 0;
  width: 100%;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #ccc;
    transform: translateY(-50%);
    z-index: -1;
  }
}

.step {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  color: #777;
  border: 2px solid #ccc;
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;

  &.active {
    background-color: var(--brand-primary);
    border-color: var(--brand-primary);
    color: var(--text-white);
  }
}

.step-content {
  width: 100%;
}

.navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
